<p id="notice"><%= notice %></p>

<h1>Pictures</h1>

<table>
  <thead>
    <tr>
      <!-- <th></th>
      <th></th>
      <th></th>
      <th></th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%  @pictures.each do |picture| %>
      <tr>
        <td><%= picture.title %></td>
      </tr>
      <tr>
        <td><%= picture.date %></td>
        </tr>
      <tr>
        <td><%= picture.memory %></td>
        </tr>
      <tr>
        <td><%= image_tag picture.url %></td>
        </tr>
      <tr>
        <div class="nav-standard">
        <td><%= link_to 'Show', picture %></td>
        <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Picture', new_picture_path %>
